@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: rgba(18, 18, 18, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.bold-time {
  font-weight: bold;
}



.container {
  background-color: rgba(0, 0, 0, 0.828);
  color: white;
  border: white solid 1px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.row-container button {
  margin-right: 35px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  background-color: transparent;
  border: 2px solid yellow;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

button:hover {
  background-color: yellow;
  color: black;
}

#tapButton {
  font-size: 2rem;
  padding: 20px;
  background-color: yellow;
  border: 2px solid darkyellow;
}

#tapButton:hover {
  background-color: darkyellow;
}

.time {

  color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

h2, h3 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button i {
  font-size: 2rem;
}

button:hover {
  background-color: #0056b3;
}

#tapButton {
  font-size: 2rem;
  padding: 20px;
  background-color: #28a745;
}

#tapButton:hover {
  background-color: #218838;
}

.toggle-button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 3rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
}

.toggle-button.start {
  background-color: rgba(255, 255, 255, 0);
}

.toggle-button.pause {
  background-color: rgba(255, 255, 255, 0);
}

.toggle-button i {
  transition: transform 0.3s ease;
  font-size: 45px;
}

.toggle-button.start i {
  transform: rotate(0deg);
  color: rgb(255, 170, 0);
  
}

.toggle-button.pause i {
  transform: rotate(360deg);
  color: rgb(255, 170, 0);
}
